body {
  font-family: 'Arial Narrow', 'Arial', sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}

@media (min-width: 768px) {
  #app {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

#brat-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(min(100vw, 100vh));
  width: calc(min(100vw, 100vh));

  background-color: #8ACE00;

  filter: blur(1.5px);
}

@media (min-width: 768px) {
  #brat-container {
    height: calc(min(100vw, 100vh) - 2rem);
    width: calc(min(100vw, 100vh) - 2rem);
  }
}

#brat {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 96%;
  width: 96%;

  line-height: 1;
  text-overflow: clip;
  text-align: justify;
  text-align-last: justify;
  overflow: hidden;
  overflow-wrap: anywhere;
}

#brat-sidebar {
  padding: 0.5rem;
}

#delete-sidebar {
  display: block;
  margin-top: 1rem;
}
