body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;

    /* native font stack - see: https://systemfontstack.com/  */
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "avenir next",
        "avenir",
        "segoe ui",
        "helvetica neue",
        "helvetica",
        "Cantarell",
        "Ubuntu",
        "roboto",
        "noto",
        "arial",
        sans-serif;
}

#app {
    max-width: 768px;
    margin: 0 auto;
    min-height: 100vh;
}

.prose {
    padding: 0 1rem;
}

.form-group {
    margin: 0.75em 0;
}

.colour-message {
    display: flex;
    padding: 0.25em;
}

.colour-circle {
    height: 1em;
    width: 1em;
    align-self: center;
    display: inline-block;
    border-radius: 100rem;
}

.navbar {
    padding: 0 1rem;
    border-bottom: 1px solid black;
}

.nav-links ul {
    padding-left: 0;
}

.nav-links li {
    list-style: none;
}

ul {
    padding-left: 1rem;
}

#past-colors {
    padding-left: 0;
}

#past-colors li {
    list-style: none;
}

#past-colors > li {
    margin-bottom: 1rem;
}

#sample-text {
    margin: 1rem 0;
    padding: 2rem;
    font-size: 2rem;
}

.block-button {
    font-size: 1.5 rem;
    margin: 0.5rem;
    padding: 0.5rem;
    width: calc(100% - 1rem);
}

.block-button:hover {
    cursor: pointer;
}

#game-controls {
    border: 1px solid black;
    border-radius: 4px;
    margin: 1rem 0;
    padding: 1rem;
}

.game-button {
    font-size: 1.5 rem;
    padding: 0.5rem;
}

#info-box .game-button {
    background: none;
    border-width: 4px;
    border-radius: 8px;
    border-style: solid;
}

#yes-btn {
    border-color: #8ace00;
}

#yes-btn:hover {
    background-color: #8ace00;
    cursor: pointer;
}

#no-btn {
    border-color: red;
}

#no-btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 400px) {
    #info-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #color-inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-links li {
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .grid-2-md {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}
