body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  line-height: 1.5;

  /* native font stack - see: https://systemfontstack.com/  */
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.prose {
  max-width: 65ch;
  padding: 0 1rem;
}

.form-group {
  margin: 0.75em 0;
}

table {
  border-collapse: collapse;
  border: 1px solid #333;
  margin: 0 auto;
  min-width: 50%;
  text-align: left;
}

th, td {
  border: 1px solid #444;
  padding: 0.5em 0.75em;
}

caption {
  caption-side: bottom;
  padding: 1em;
}
